* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-container {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.nav-container > h1 {
  color: white;
  text-shadow: 2px 0 #191919;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.nav-container > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}
.nav-container ul > a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
